<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69098332487-5e2fuvb7s48i1b8k0e0jralgi6g7th4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69098332487-5e2fuvb7s48i1b8k0e0jralgi6g7th4h</string>
	<key>API_KEY</key>
	<string>AIzaSyDmk9Dj0TrsbD0XqAvujXmOj__rUmZCw5k</string>
	<key>GCM_SENDER_ID</key>
	<string>69098332487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grinkonikolka-yandex.ru.TwitterClon</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-3315f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-3315f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69098332487:ios:626eb0777b7d4a81506c62</string>
</dict>
</plist>